@page
@model IndexModel
@{
    ViewData["Title"] = "Bienvenido al sistema Almacén STLCC";
}

<link rel="stylesheet" href="~/css/Index.css"/>

<div class="contenedor">
    <header class="header">
        <h1>Sistema de Inventario - Almacén STLCC</h1>
        <p>Administre los productos, registre entradas y salidas, y genere reportes de manera eficiente.</p>
    </header>

    <section class="paneles">
        <div class="tarjetas">
            <div class="icono">📦</div>
            <h3>Ver Productos</h3>
            <p>Consulte los productos que existen en registro.</p>
            <a asp-page="/Productos/Index" class="btn-rojo">Ver Productos</a>
        </div>

        <div class="tarjetas">
            <div class="icono">➕</div>
            <h3>Añadir Nuevo Producto</h3>
            <p>Añada un nuevo producto para ingresar al registro.</p>
            <a asp-page="/Productos/CrearP" class="btn-negro">Registrar Producto</a>
        </div>

        <div class="tarjetas">
            <div class="icono">🚚</div>
            <h3>Ver Proveedores</h3>
            <p>Consulte los proveedores que existen en registro.</p>
            <a asp-page="/Proveedores/Index" class="btn-rojo">Modificar Proveedores</a>
        </div>

        <div class="tarjetas">
            <div class="icono">➕</div>
            <h3>Añadir Nuevo Proveedor</h3>
            <p>Añada un nuevo proveedor para ingresar al registro.</p>
            <a asp-page="/Proveedores/CrearProveedor" class="btn-negro">Modificar Proveedores</a>
        </div>

        <div class="tarjetas">
            <div class="icono">📊</div>
            <h3>Generar Reportes</h3>
            <p>Obtenga reportes detallados sobre los datos que necesite.</p>
            <a asp-page="/Reportes/Crear" class="btn-rojo">Generar Reportes</a>
        </div>

        <div class="tarjetas">
            <div class="icono">🔁</div>
            <h3>Historial de Movimientos</h3>
            <p>Consulta los registros de entradas y salidas del almacén.</p>
            <a asp-page="/Historial/Index" class="btn-negro">Ver Historial</a>
        </div>
    </section>
</div>